<h1>Create User</h1>

<%= form_for(@user, :url => users_path) do |f| %>
  <% if @user.errors.any? %>
	<div class="error">
		<h2>Invalid user</h2>
		<ul>
			<% for message in @user.errors.full_messages %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>

<div class="field">
	<%= f.label :password %>
	<%= f.password_field :password %>
</div>

<div class="field">
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
</div>

<div class="field">
	<%= f.label :restaurant %>
	<%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
</div>

<div class="actions"><%= f.submit %></div>

<% end %>