<h1>Order Details</h1>

<table>
	<tr>
		<th>Item</th>
		<th>Quantity</th>
		<th>Price</th>
		<th>Subtotal</th>
	</tr>
	<% @order_items_formatted.each do |item,qty| %>
		<tr>
			<td><%= item.name %></td>
			<td><%= qty %></td>
			<td>$<%= item.price %></td>
			<td>$<%= item.price * qty.to_i %></td>
		</tr>
	<% end %>
</table>

<%= form_for(@order, :url => orders_save_path) do |f| %>

	<%= hidden_field_tag 'order[order_items]', @order.order_items %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :phone %>
	<%= f.text_field :phone %>
	<%= f.submit "Submit order" %>
<% end %>