<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Zip Code</th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= link_to restaurant.name, restaurant %></td>
    <td><%= restaurant.zip %></td>
	<% if current_user && current_user.admin %>
	    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
	    <td><%= link_to 'Destroy', restaurant, confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
