<h1><%= @restaurant.name %></h1>

<%= form_for(@order, :url => orders_new_path, :method => "post") do |f| %>

<% @restaurant.menu_sections.each do |section| %>

	<div class="menusection"><%= section.name %></div>

	<% section.menu_items.each do |menu_item| %>
	<%= text_field_tag "order_items[" + menu_item.id.to_s + "]",nil, :size => 2 %><%= menu_item.name %> <%= menu_item.price %><br/>
	<% end %>

<% end %>

<%= submit_tag "Submit order" %>
<% end %>

