<div class="span-24 header">
<span class="left"><%= link_to "Home", root_path %> | <%= link_to "All Restaurants", restaurants_path %></span>
<span class="right">
<% if current_user %>
	<% if current_user.admin? %>
		Logged in as admin |
		<%= link_to "Create user", new_user_path %> | 
		<%= link_to "Create restaurant", new_restaurant_path %> |
		<%= link_to "Log out", logout_path %>
	<% else %>
		Logged in as <%= current_user.email %> from <%= link_to current_user.restaurant.name, current_user.restaurant %> |
		<%= link_to "List orders", orders_restaurant_path(current_user.restaurant) %> |
		<%= link_to "Upload items", upload_restaurant_path(current_user.restaurant) %> |
		<%= link_to "Log out", logout_path %>
	<% end %>
<% else %>
	<%= link_to "Restaurant Admin Log in", login_path %>
<% end %>
</span>
</div>